<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.framestudy.spring_mybatis.relationmag.mapper.PetMapper">
	
	<resultMap type="Pet" id="petMap">
		<id property="id" column="id" javaType="long"/>
		<result property="name" column="name" javaType="java.lang.String"/>
		
		<!-- 定义一个字段鉴别器 -->
		<discriminator javaType="int" column="type">
			<case value="1" resultType="Dog">
				<result property="bone" column="bone" javaType="int"/>
			</case>
			<case value="2" resultType="Cat">
				<result property="fish" column="fish" javaType="int"/>
			</case>
		</discriminator>
	</resultMap>
	
	<insert id="saveDog" useGeneratedKeys="true" keyProperty="dog.id">
		insert into t_pet (name,type,bone) values (#{dog.name},1,#{dog.bone})
	</insert>
	
	<select id="getDogById" resultMap="petMap">
		select * from t_pet where id = #{id} and type = 1
	</select>

	<select id="getAllPet" resultMap="petMap">
		select * from t_pet
	</select>

</mapper>